.complete-content{
    margin-top: 8em;
    margin-bottom: 8em;
}
.tcu{
    height: 35px;
    width: 70px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    color: #777;
    border: none;
}
.tcu-container{
    width: fit-content;
    margin: auto;
}
.resultRow{
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}
.course-name{
    border-radius: 5px;
    border: none;
    margin-right: 5px;
    height: 30px;
    width: 13em;
    outline: none;
}
.cu{
    width: 40px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
    height: 30px;
    text-align: center;
    outline: none;
}
.grade{
    width: 40px;
    border-radius: 5px;
    border: none;
    height: 30px;
    background: linear-gradient(to right, blue, #1638ff);
    outline: none;
    color: white;
}
option{
    color: #777;
}
.add-drop{
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}
.add-drop-btn{
    border-radius: 5px;
    border: none;
    height: 30px;
    background: linear-gradient(to right, blue, #1638ff);
    outline: none;
    color: white;
}
.add-drop-btn:hover{
    background: white;
    color: blue;
    transition: .5s;
}
.add{
    width: 60px;
    margin-right: 5px;
}
.drop{
    width: 100px;
}
.calculate-container{
    width: fit-content;
    margin: auto;
    margin-top: 35px;
}
.calculate{
    width: 20em;
    height: 30px;
    color: white;
    background: blue;
    border: none;
    outline: none;
}
.calculate:hover{
    background: white;
    color: blue;
    transition: .5s;
}