.only{
    color: red;
}
.nav{
    width: fit-content;
    margin: auto;
    margin-top: 30vh;
}
.nav-buttons{
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, blue, #08124b);
    margin-bottom: 10px;
    color: white;
}
.nav-buttons:hover{
    background: white;
    color: black;
    transition: .5s;
    outline: none;
}